{% extends "base.html" %}

{% block head %}
<title>DjProMan - Home</title>
{% endblock %}

{% block body %}

<br><a class="btn btn-primary" href="#" data-toggle="modal" data-target="#AddCategoryModal">Add Category</a><br><br>
<table class="table" border="0" cellspacing="5" cellpadding="5" width="100%">
    <tr class="info">
        <td><b>#</b></td>
        <td><b>Category</b></td>
        <td><b>Total Articles</b></td>
    </tr>
    {% for category in categories %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td><a href="/category/{{ category.id }}">{{ category.title }}</a></td>
        <td>{{ category.get_article_count }}</td>
    </tr>
    {% endfor %}
</table>


<br> <br> <br> <br> <br> <br> <br>

{% endblock %}
